<a href="https://colab.research.google.com/github/ancestor9/Data-Analyst-with-Gemini-/blob/main/1%EC%9D%BC%EC%B0%A8/25_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **https://github.com/ancestor9**
## https://github.com/ancestor9
### https://github.com/ancestor9
#### https://github.com/ancestor9

## 2.1 연산과 자료형태

In [ ]:
# 가감승제

10 + 10

20

In [ ]:
20 - 10

10

In [ ]:
10*10

100

In [ ]:
100/5

20.0

In [ ]:
%whos

Interactive namespace is empty.

In [ ]:
y = 20.0

In [ ]:
print(y)

20.0

In [ ]:
%whos

Variable   Type     Data/Info
-----------------------------
x          int      10
y          float    20.0

In [ ]:
a = input()

print("Hello, Python!")
print(a)

ancestor9
Hello, Python!
ancestor9

In [ ]:
%whos

Variable   Type     Data/Info
-----------------------------
a          str      ancestor9
x          int      10
y          float    20.0

In [ ]:
print(type(x))

<class 'int'>

In [ ]:
id(x)

10751144

In [ ]:
x = 9.0
print(x); print(type(x)); print(id(x)); # ‘;’ 는 여러 명령어를 한 줄에 기록

9.0
<class 'float'>
137573100137328

In [ ]:
x = x + 5 # 14, 14.0
print(x+3); print(x-3)
print(x*3); print(x/3)
print(x%3); print(x//3)
print(x**2)

In [ ]:
id(3)

10750920